@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

header {
  height: 60px;

  border-bottom: 1px solid black;
}

main {
  width: 100%;
}

main h1, main h2, main h3 {
  margin: 2px 0;

  /* wireframe */
  border-bottom: 1px solid #ccc;  
}

.container-wardrobe {
  position: relative;
  height: 100%;
  
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* head
********************************************************************/
#container-head-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 0 0.5em;
  display: flex;
  align-items: center;

  border-left: 1px solid black;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

/* body
********************************************************************/
#wrapper-page-content {
  min-height: calc(100vh - 40px);
  padding-bottom: 30px;
}

.page-content {
    /* wireframe */
    border-top: 1px solid green;
    border-bottom: 1px solid green;  
}

.page-contents-item {
    /* wireframe */
    border-top: 1px solid red;
    border-bottom: 1px solid red;  
}

.page-content + .page-content,
.page-contents-item + .page-contents-item {
  margin-top: 0.5em;
}
